body{
    position: relative;
    min-height: 100vh;
    margin: 0;
}


.navbar {
    margin: 0;
    overflow: auto;
    background-color: #34324a;  
} 

.navbar h3{
    display: inline;
}

.navbar ul{
    list-style-type: none;
    display: inline;
    padding: 0;
    width: 100%;
}

.navbar ul li{
    display: inline;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 0 5px; 
   
}

.navbar a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar a:active {
    color: #FDB768;
    cursor: pointer;
}

#color-navbar {
    margin-left:84%;
}

#image {
    display: block;
    width: 50%;
    height: auto;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

.heading {
    background-color: bisque;
}

h1,h3 {
    font-family: 'Catamaran', sans-serif;
}

.heading h1{
    font-weight: 900;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;   
}


.Colors li, .Fonts li{
    list-style-type: none ;
    display: inline;
}

.Colors, .Fonts, .Styles {
    border: 2px solid lightblue;
    margin: 30px 100px;
}

.Colors h1,.Fonts h1,.Styles h1{
    text-transform: uppercase;
}

.Colors h1::first-letter, .Fonts h1::first-letter, .Styles h1::first-letter{
    margin-left: 10px;
    font-size: xx-large;
    color: #FDB768;
    
}

.blue {
    background-color: blue;
    color: white;
    
}

.pink {
    background-color: #F4C2C2;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.brown {
    background-color: rgb(46, 3, 3);
    color: white;
}

.color-names li{
    padding: 50px 150px;
}

.color-names {
    margin: 100px 50px;
}


.Font-panel {
    display: inline-block;
    padding: 2% 10%;
}
.Font-text1 {
    font-family: 'Dancing Script', cursive;
    
}

.Font-text2 {
    font-family: 'Roboto Slab', serif;
    
}

.Font-text3 {
    font-family: 'Splash', cursive;
    
}

.Font-heading {
    font-size: 60px;
    text-decoration: underline;
    margin-bottom: 40px;
}

.Font-text1,.Font-text2,.Font-text3 {
    font-size: 40px;
}

.Font1 span ,.Font2 span, .Font3 span {
    display: block;
}

.Styles-heading{
    font-size: 32px;
    margin-left: 40px;
}

.Styles-list li{
    font-size: 20px;
    margin-left: 20px;
}

.footer{
    background-color: #34324a;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    padding: 7px;
}

.push {
    height: 2.5rem;
}
